body{
    background-color: #2D2F33;
    width: 100%;
    height: 100%;
    font-family: "Outfit", sans-serif;
    color: #D3D3D3;
    margin: 0;
    padding: 0;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari/Edge */
  }

/* for header #1B1C1E */
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav{
    width: 100%;
    height: 65px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: #1B1C1E;
}

.box-holder-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.welcome-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.login-information-container{
    width: 100%;
    height: auto;
    padding: 20px 70px;
    box-sizing: border-box;
    border-radius: 10px;
}

@media screen and (max-width: 550px) {
    .login-information-container{
        padding: 20px 35px !important;
    }
    .form__label{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 450px) {
    .login-information-container{
        padding: 20px 5px !important;
    }
    .form__label{
        font-size: 15px !important;
    }
    .form__field{
        font-size: 14px !important;
    }
}

#signIn_span{
    cursor: pointer;
    border-bottom: 2px solid #1B1C1E; 
    transition: all 0.2s ease-in-out;
    color: #6a53eb;
    border-color: #6a53eb;
}
/* #signIn_span:hover{
    color: #6a53eb;
    border-color: #6a53eb;
} */


#signUp_span{
    cursor: pointer;
    border-bottom: 2px solid #1B1C1E; 
    transition: all 0.2s ease-in-out;
}
/* #signUp_span:hover{
    color: #6a53eb;
    border-color: #6a53eb;
} */

#signUp-form{
    display: none;
}
.hidden {
    display: none;
}

.visible {
    display: block;
}

.error {
    border: 2px solid red;
}

.next-button{
    width: 120px;
    height: 50px;
    border: 2px solid #6a53eb;
    background-color: #1B1C1E;
    color: #6a53eb;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.next-button:hover{
    color: #1B1C1E;
    background-color: #6a53eb;
}

#SignUp2{
    display: none;
}

#box_singIn{
    display: none;
}

/*Input*/
.form__group {
    position: relative;
    padding: 20px 0 0;
    margin: 30px 0;
    width: 100%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 15px;
    color: #fff;
    padding: 7px 8px;
    background: transparent;
    transition: border-color 0.2s;
    box-sizing: border-box;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right, #6a53eb, #6A5ACD);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #6A5ACD;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
/*Input*/


/*Button*/
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #6a53eb;
    box-shadow: 0 0 0 2px #6a53eb;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #6a53eb;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #6a53eb;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #6a53eb;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

/*Button*/

.link-txt{
    color: #B3B3B3;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 400;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}
.link-txt:hover{
    color: #6a53eb;
}


.box-container{
    width: 600px;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    box-sizing: border-box;
    padding: 20px;
    background-color: #1B1C1E;
    border-radius: 15px;
    transition: border-color 1s ease;
}   
#mainBox{
    display: none;
}

@media screen and (max-width: 500px) {
    .box-container{
        margin: 0 10px;
    }

    .start-button{
        width: 100% !important;
    }

    .choice{
        width: 100% !important;
    }

    footer span{
        font-size: 11px !important;
    }
}

.highlighted-red{
    border-color: #dc3545;
}

.highlighted-green{
    border-color: #28a745;
}

.welcome-page{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}
/*#3A3B5A*/
/*#2A4747*/

.question-container{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 15px 0 30px;
    box-sizing: border-box;
}
.question-container p{
    margin: 0;
    line-height: 40px;
}

#quote{
    font-size: 16px; 
    font-weight: 500;
}
#quiz-number-question{
    font-size: 16px; 
    font-weight: 500;
}
#question01{
    font-size: 22px;
    font-weight: 600;
}

.choices-container{
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-button{
    width: 80%;
    height: auto;
    padding: 15px 20px;
    background-color: #6A5ACD;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 16px;
    color: #d3d3d3ea;
    font-weight: bolder;
    cursor: pointer;
}
.start-button:hover{
    background-color: #7B68EE;
    /* scale: 1.01; */
}
.start-button:active{
    background-color: #6a53eb;
}



.choice{
    width: 80%;
    height: auto;
    padding: 12px 17px;
    /* text-align: center; */
    margin-bottom: 10px;
    background-color: #6A5ACD;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 16px;
    color: #d3d3d3ea;
    font-weight: bolder;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.choice:hover{
    background-color: #7B68EE;
    /* scale: 1.01; */
}
.choice:active{
    background-color: #6a53eb;
}

.form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.number-of-quiz{
    width: 150px;
    height: 45px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #303133;
    color: #D3D3D3;
    border: 2px solid #6a53eb;
    border-radius: 5px;
    outline: none;
    font-family: "Outfit", sans-serif;
}
.number-of-quiz:focus{
    box-shadow: #7c68eebe 0px 2px 8px, #7B68EEbe 0px 2px 8px;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; margin: 0; 
} 
input[type=number] {
    -moz-appearance: textfield; /* For Firefox */
}

.startQuiz-button{
    width: 60px;
    height: 45px;
    background-color: #6a53eb;
    border-radius: 5px;
    border: 1px solid #6a53eb;
    margin-left: 8px;
}

.startQuiz-button:hover{
    box-shadow: #7B68EEbe 0px 2px 8px, #7B68EEbe 0px 2px 8px;
}

.unlimited-question{
    width: 100%;
    height: auto;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #D3D3D3;
    text-align: center;
}

.unlimitedQuiz-button{
    width: 60px;
    height: 45px;
    background-color: #6a53eb;
    border-radius: 5px;
    border: 1px solid #6a53eb;
}
.unlimitedQuiz-button:hover{
    box-shadow: #7B68EEbe 0px 2px 8px, #7B68EEbe 0px 2px 8px;
}



.timer-checkBox-container{
    width: 100%;
    height: auto;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-checkBox-container p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.timer-container{
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    display: none;
    justify-content: center;
}

/** check box style */
.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper-22 .switch input {
    display:none;
  }

  .checkbox-wrapper-22 .slider {
    background-color: #2D2F33;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider:before {
    background-color: #1B1C1E;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-22 input:checked + .slider {
    background-color: #6a53eb;
  }

  .checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
  }



/* check boc style */


.exit-unlimitedQuiz{
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.exit-unlimitedQuiz p{
    font-size: 16px; 
    font-weight: 500;
}

.triple-X-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#first-chance{
    margin: 0px 5px; 
    fill: #3b3b3b;
}
#second-chance{
    margin: 0px 5px; 
    fill: #3b3b3b;
}
#third-chance{
    margin: 0px 5px; 
    fill: #3b3b3b;
}

.exitButton{
    width: 60px;
    height: 45px;
    background-color: #6a53eb;
    border-radius: 5px;
    border: 1px solid #6a53eb;
}
.exitButton:hover{
    box-shadow: #7B68EEbe 0px 2px 8px, #7B68EEbe 0px 2px 8px;
}

#finalScore{
    font-size: 30px;
}


#score{
    font-size: 50px;
    font-weight: 600;
    margin-top: 25px;
}

#outOfTime{
    display: none;
}

.restartQuiz{
    width: 60px;
    height: 45px;
    background-color: #6a53eb;
    border-radius: 5px;
    border: 1px solid #6a53eb;
}
.restartQuiz:hover{
    box-shadow: #7B68EEbe 0px 2px 8px, #7B68EEbe 0px 2px 8px;
}



.restart-container{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
}

footer{
    width: 100%;
    height: auto;
    background-color: #1B1C1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

footer span{
    width: 33%;
    font-size: 16px;
    color: #D3D3D3;
}

/* #loading-container{
    width: 100%;
    height: 100%;
    background-color: #1B1C1E;
    z-index: 10;
    border-radius: 15px;
}

.loader{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px dotted #6A5ACD;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.difficulty-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-info-container{
    width: 100%;
    height: auto;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.display-info-container span{
    width: 33%;
    font-size: 12px;
    color: #888;
}

.display-score-info-container{
    width: 100%;
    height: auto;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.display-score-info-container span{
    font-size: 12px;
    color: #888;
}

#settingICON:hover{
    fill: #929292;
}

#settingICON{
    fill: #5f5f5f;
    cursor: pointer;
    visibility: hidden;
}



















#settings{
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 13.5px;

}

.dropdown-wrapper{
    position: relative;
    max-width: 400px;
    width: 100%;
    min-height: 33px;
  }
  
  .dropdown{
    height: 0px;
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex; 
    position: absolute;
    flex-direction: column;
      top: 100%; /* Position directly below .option-dropdown */
      left: 0;
      width: 100%; /* Match the width of .option-dropdown */
    margin-top: 4px;
      overflow-y: scroll; /* Hide content when height is 0 */
      overflow-x: hidden;
      background-color: #1a1a1a;
      border: 1px solid #444;
      color: #ddd;
      border-radius:8px;
      box-sizing: border-box;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Soft shadow */
  
      transition: all 0.35s ease; /* Smooth transition for dropdown */
      z-index: 100;
     
  }
  .open{
    height: 100px;
    opacity: 1;
  }
  .dropdown::-webkit-scrollbar {
          display: none; /* Hides the scrollbar in WebKit-based browsers (Chrome, Safari, etc.) */
          }
  .dropdown-options{
    min-height: 33px;
    height: auto;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-bottom:1px solid #282828 ;
    transition: all 0.3s ease;
  }
  .dropdown-options:hover{
    background-color: rgb(100, 109, 237);
  }

  .option-dropdown {
    background-color: #333;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border: 1.2px solid #666;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option-dropdown:hover {
    background-color: rgb(100, 109, 237);
    border-color: white;
}

.confirm-quiz-btn{
    width: 60px;
    height: 45px;
    background-color: #6a53eb;
    border-radius: 5px;
    border: 1px solid #6a53eb;
}
.confirm-quiz-btn:hover{
    box-shadow: #7B68EEbe 0px 2px 8px, #7B68EEbe 0px 2px 8px;
}



#numberOfQuestions{
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.quiz-container{
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/* loading style -css */
.loading-container {
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.spinner {
    width: 50px;
    height: 50px; 
    border: 6px solid #2D2F33;
    border-top-color: #6a53eb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.score-container{
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.summary-main-container{
    width: 80%;
    height: 80vh;
    display: none;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1B1C1E;
}

.summaryConatinerHeader{
    width: 100%;
    height: 7%;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.summaryConatinerHeader p{
    margin: 0 0 20px 0;
    width: 80%;
    text-align: center;
}

#backSVG:hover{
    stroke: #6a53eb;
    cursor: pointer;
}
#infoSVG:hover{
    stroke: #6a53eb;
    cursor: pointer;
}

.main-holder-container{
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.main-holder-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}

.summary-question-result-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.green{
    background-color: #0f2906;
}

.red{
    background-color: #2e0404;
}
/* .summary-question-result-container:hover{
    background-color: #282828;
} */

.answerHighlightedGreen{
    background-color: #0d3d0d;
}

.answerHighlightedRed{
    background-color: #5c0909;;
}

.summary-question-container{
    width: 100%;
    height: auto;
    color: #D3D3D3;
    font-size: 21px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.summary-question-container p{
    margin: 0;
}

.SummaryQuestion{
    text-align: start;
    width: 90%;
}

.summaryPassedQuestionScore{
    text-align: end;
    width: 10%;
    padding-right: 15px;
    box-sizing: border-box;
    color: #28a745;
}

.summaryFailedQuestionScore{
    text-align: end;
    width: 10%;
    padding-right: 15px;
    box-sizing: border-box;
    color: #dc3545;
}

.summary-answers-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
}

.summary-answers-container p{
    line-height: 35px;
    font-size: 18px;
    margin: 0 0 5px 0;
    padding-left: 30px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}
@media screen and (max-width: 900px) {
    .summaryConatinerHeader{
        font-size: 18px;
    }
    .summary-answers-container p{
        font-size: 14px;
    }
    .SummaryQuestion{
        font-size: 16px;
    }
    .summaryConatinerHeader{
        height: 9% !important;
    }
    .main-holder-container{
        height: 82% !important;
    }
}

@media screen and (max-width: 600px){
    .summary-main-container{
        width: 98% !important;
    }
    .summary-answers-container{
        padding: 0;
    }
    .summary-answers-container p{
        padding-left: 15px;
    }
    .summaryFailedQuestionScore{
        padding: 0;
        font-size: 16px !important;
    }
    .summaryPassedQuestionScore{
        padding: 0;
        font-size: 16px !important;
    }
    .SummaryQuestion{
        margin-bottom: 15px !important;
    }
}

.quizDescriptionContainer{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 0 0 ;
    box-sizing: border-box;
}

.quizDescriptionContainer span{
    width: 30%;
    height: 50%;
    font-size: 13px;
    color: #888;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .quizDescriptionContainer span{
        font-size: 10px !important;
    }
}
