a{
  color: white;
}

body.no-scroll{
  overflow: hidden;
}

/* Hide scrollbar for WebKit browsers */
body {
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari/Edge */
}

.outfit-heading {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

 /* Style for the top div */
 .top-fixed-div {
  width: 100%;
  height: 60px; /* Adjust height as needed default 60px*/
  background-color: #1A1A1A; /* Example background color */
  color: white; /* Example text color */
  line-height: 30px; /* Vertical centering of text */
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 10; /* Ensure it's on top of other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time{
  width: auto;
  height: auto;
}

.city{
  width: auto;
  height: auto;
}

.right{
  align-items: center; 
  width: 270px; 
  justify-content: space-between; 
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.right span{
  font-weight: 550;
}


@media screen and (max-width: 750px) {
  .customer-service{
    display: none !important;
  }
  .tel{
    display: none;
  }
  .logo-header{
    width: 135px !important;
  }
  .phone{
    display: block !important;
  }
  .right{
    justify-content: flex-end !important;
    width: 155px !important;
  }
}

.left{
  font-weight: 550; 
  display: flex;
  flex-wrap: wrap;
}
/*
#instagram:hover {
  color: #FF5733;
  animation: rainbow 1s infinite;
}

@keyframes rainbow {
  0% { color: #FF5733; }  
  20% { color: #FFC300; }  
  40% { color: #DAF7A6; }  
  60% { color: #33FF57; }  
  80% { color: #33FFF3; }  
  100% { color: #335BFF; } 
}
*/

.customer-service {
  position: relative;
  color: inherit; /* Optional: to inherit the color of the parent element */
  text-decoration: none; /* Remove default underline */
}

.customer-service::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the height of the underline */
  background-color: currentColor; /* Use the same color as the text */
  bottom: -2px; /* Position the underline just below the text */
  left: 0;
  transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for width and position */
}

.customer-service:hover::after {
  width: 0;
  left: 50%;
}

/* Reverse the animation when the mouse leaves */
.customer-service::after {
  transition: width 0.3s ease, left 0.3s ease;
}

.customer-service:hover::after {
  width: 0;
  left: 50%;
}

.main-top-container{
  height: 100%; 
  background-color: whitesmoke; 
  justify-content: center; 
  display: flex;
}

.myProfile-myCart-container{
  width: 340px; 
  height: 100%; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.logo-container{
  width: 95px; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.main-search-container{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header{
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.phone{
  display: none;
}

/* .logo_sidenav-holder{

} */
.main-header{
  margin-top: 60px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  background-color: whitesmoke;
}

.side-dropdown-menu{
  height: 100%;
  width: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.bar-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}



@media screen and (max-width: 800px) {
  .bar-button:active{
    color: #b2121a;
  }
  .bar-button{
    transition: color 0.1s ease-in-out;
  }
}
@media screen and (min-width: 800px) {
  .bar-button:hover{
    color: #b2121a;
  }
  .bar-button{
    transition: color 0.2s ease-in-out;
  }
}


@media screen and (max-width: 1420px) {
  .main-header{
    width: 90%;
  }
}


@media screen and (max-width: 1100px) {
  .main-header{
    width: 100%;
  }
}


@media screen and (max-width: 1024px) {
  .main-search-container{
    display: none;
  }

  .mediaQuery-searchBar{
    display: flex !important;
  }

  .main-header{
    width: 90%;
  }

  .side-dropdown-menu{
    display: flex !important;
  }
  .logo-container{
    width: 54%;
    justify-content: flex-start;
  } 
}

@media screen and (max-width: 800px) {
  .logo-container{
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .my-cart{
    width: 90px !important;
  }

  .create-account{
    width: 90px !important;
  }

  .myProfile-myCart-container{
    width: 240px;
    direction: rtl !important;
  }
}
.enterprise-logo{
  width: 90px;
  height: 80px;
}



.search-bar {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.search-input {
  /*width: 450px;  Set the desired width */
  width: 70%;
  height: 30px; /* Set the desired height */
  padding: 5px; /* Add some padding */
  border: 1px solid #333; /* Add a border */
  border-radius: 5px 0px 0px 5px; /* Rounded corners */
  transition: border-color 0.2s ease, transform 0.2s ease; /* Add transition for smooth effect */
}

.search-input:focus {
  border: 1px solid #b8121a; /* Change border color on focus */
  transform: scale(1.005); /* Add transform on focus */
  outline: none;
}

.search-button {
  height: 42px; /* Match the height of the input */
  padding: 5px 10px; /* Add some padding */
  border: none; /* Remove default border */
  background-color: #b8121a; /* Button color */
  color: white; /* Text color */
  border-radius: 0px 5px 5px 0px;
  cursor: pointer; /* Pointer cursor on hover */
}

.create-account{
  border: none;
  height: 42px;
  width: 150px;
  color: white;
  background-color: #b8121a;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in  0.15s;
  font-weight: bold;
}

.create-account:hover{
  background-color: #1A1A1A;
}
@media screen and (max-width: 500px) {
  .create-account{
    background-color: transparent;
    width: 65px !important;
  }
  .create-account i{
    color: #b8121a;
    font-size: 25px;
  }
  .my-cart{
    background-color: transparent !important;
    width: 65px !important;
  }
  .my-cart i{
    color: #1A1A1A;
    font-size: 25px;
  }
  .myProfile-myCart-container{
    justify-content: flex-start;
  }
  .enterprise-logo{
    width: 60px;
    height: 55px;
  }
  .main-header{
    height: 60px !important;
  }
}


.my-cart{
  border: none;
  height: 42px;
  width: 150px;
  color: white;
  background-color: #1A1A1A;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in  0.15s;
  font-weight: bold;
}
.my-cart:hover{
  background-color: #b8121a
}

.fa-custom-size{
  font-size: 1.02em;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 11; /* Stay on top */
  top: 0;
  right: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-sizing: border-box;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: relative;
  top: 0;
  right: 0;
  font-size: 36px;
  /* margin-right: 50px; */
}



/* Overlay when side nav is open */
.overlay {
  position: fixed;           /* Stay in place */
  top: 0;
  left: 0;
  width: 100%;               /* Full width */
  height: 100%;              /* Full height */
  background-color: rgba(0, 0, 0, 0.25); /* Black with 50% opacity */
  z-index: 1;                /* Behind the side nav */
  overflow: hidden;
  display: none;             /* Initially hidden */
}

/* Make the overlay visible */
.overlay.active {
  display: block;
}

.top-my-cart{
  width: 100%;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  direction: ltr;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.top-my-cart p{
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.top-my-cart a{
  color: #d1d5db;
  text-decoration: none;
  transition: 250ms;
}

.top-my-cart a:hover{
  color: #111827;
}

.main-items-container{
  height: auto;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  display: block;
  overflow-x: hidden;
  overflow: hidden;
}


.empty-cart-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.empty-cart-container span{
  font-size: 16px;
  font-weight: 500;
  color: #1A1A1A;
}


.item-in-cart-border{
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
  .item-in-cart-border{
    background-color: #e6e6e6;
  }
}
@media screen and (min-width: 900px) {
  .item-in-cart-border:hover{
    background-color: #e6e6e6;
  }
}


.img-item-in-cart-border{
  height: 100%;
  width: 26%;
}
.img-item-in-cart-border img{
  width: 100%;
  height: 60%;
  border: none;
  aspect-ratio: 4/4;
}

.description-item-in-cart-border{
  width: 73%;
  height: 100%;
  margin-left: 15px;
  box-sizing: border-box;
}

.item-name-cart-container{
  width: 100%;
  height: auto;
  font-size: 20px;
  margin: 0;
  line-height: 27px;
  font-weight: 400;
}

.SKU-cart{
  margin: 3px 0 0 0;
  width: auto;
  height: auto;
  color: black;
  font-size: 14px;
}

.price-item-cart{
  margin: 10px 0 0 0;
  width: auto;
  height: auto;
  font-size: 16px;
}

.button-cart-container{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 14px;
  margin-top: 20px;
}

.edit-button-item-cart{
  width: 40px;
  height: 40px;
  border: 2px solid black;
  background-color: #b8121a;
  color: white;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  margin: 0 7px 0 0;
  cursor: pointer;
}
.edit-button-item-cart:hover{
  background-color: #111827;
}

.remove-button-item-cart{
  width: 40px;
  height: 40px;
  border: 2px solid black;
  background-color: #b8121a;
  color: white;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.remove-button-item-cart:hover{
  background-color: #111827;
}

.main-cart-button-container{
  width: 100%;
  height: auto;
  /* padding: 10px; */
  box-sizing: border-box;
  display: none;
  justify-content: center;
}

.cart-button-container{
  width: 100%;
  height: auto;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
@media screen and (max-width: 900px) {
  .button-container-offer{
    background-color: #e6e6e6;
  }
  .subtotal-container{
    background-color: #e6e6e6;
  }
}
@media screen and (min-width: 900px) {
  .button-container-offer:hover{
    background-color: #e6e6e6;
  }
  .subtotal-container:hover{
    background-color: #e6e6e6;
  }
}

.subtotal-container{
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 10px;
}
.subtotal-container p{
  margin: 0;
}

.button-container-offer{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.button-container{
  width: 100%;
  height: auto;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

.checkout-cart-button{
  width: 120px;
  height: 45px;
  background-color: #b8121a;
  border: 2.5px solid black;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.checkout-cart-button:hover{
  background-color: #1A1A1A;
}

.or-span{
  margin-left: 15px;
}

.link-cart{
  margin-left: 15px;
  color: #111827;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.link-cart:hover{
  color: #b8121a;
}

.offer-cart-container{
  width: 100%;
  height: auto;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.offer-cart{
  width: 100%;
  height: 45px;
  border: 2.5px solid #3daa4b;
  padding: 6px 6px 6px 20px;
  background-color: #ecfdf5;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: start;
  align-items: center;
  display: flex;
}
.offer-cart p{
  margin: 0;
  color: #111827;
  font-size: 16px;
  font-weight: 700;
}

.mediaQuery-searchBar{
  height: 80px;
  width: 100%;
  justify-content: center;
  display: none;
  align-items: center;
  background-color: #e2e8f0;
}

.search-input-MQ {
  /*width: 450px;  Set the desired width */
  width: 450px;
  height: 30px; 
  padding: 5px; 
  border: 1px solid #333; 
  border-radius: 5px 0px 0px 5px; 
  transition: border-color 0.2s ease, transform 0.2s ease;
}

@media screen and (max-width: 900px) {
  .search-input-MQ{
    width: 70% !important;
  }
}
@media screen and (max-width: 700px) {
  .search-input-MQ{
    width: 80% !important;
  }
}

.subscribe-for-news-div{
  height: auto;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-adj-width{
  height: auto;
  width: 90%;
}

.subscribe-title{
  height: 50px;
  width: 100%;
  font-size: 180%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-title p{
  padding: 0;
  margin: 0;
}

.subscribe-title-info{
  height: 50px;
  width: 100%;
  font-size: 145%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-title-info p{
  padding: 0;
  margin: 0;
}

.subscribe-input-button-div{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px 0;
}

.subscribe-email-input {
  width: 500px; /* Set the desired width */
  height: 40px; /* Set the desired height */
  border: 1px solid #333; /* Add a border */
  border-radius:5px; /* Rounded corners */
  transition: border-color 0.2s ease, transform 0.2s ease; /* Add transition for smooth effect */
  margin: 7px 2px;
}

@media screen and (max-width: 645px) {
  .subscribe-email-input{
    width: 100% !important;
  }
  .subscribe-form{
    width: 100% !important;
  }
  .subscribe-button{
    width: 100% !important;
  }
}
@media screen and (max-width: 770px) {
  .subscribe-title{
    font-size: 20px;
  }
  .subscribe-title-info{
    font-size: 18px;
  }
}
@media screen and (max-width: 755px) {
  .subscribe-email-input{
    width: 400px;
  }
}

.subscribe-form{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
}


.subscribe-email-input:focus {
  border: 1px solid #b8121a; /* Change border color on focus */
  transform: scale(1.005); /* Add transform on focus */
  outline: none;
}

.subscribe-button{
  border: none;
  height: 44px;
  width: 150px;
  color: white;
  font-size: 100%;
  font-weight: 600;
  background-color: #b8121a;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in  0.15s;
  margin: 7px 2px;
}

.subscribe-button:hover{
  background-color: #1A1A1A;
}

.footer-div{
  height: auto;
  width: 100%;
  background: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-adj-width{
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 45px 0;
  /* border: 1px solid blue; */
}

.footer-item-div{
  height: 250px;
  width: (auto + 20px);
  color: white;
  margin: 0 10px;
  /* border: 1px solid white; */
}

/*===============================================*/

.footer-item-div-2{
  height: 85%;
  width: 14%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
}

.social-media-main{
  width: 100%;
  height: 40%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.mail-main-div {
  height: 50%;
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mail-div {
  padding: 0;
  margin: 0;
  font-size: 60%;
  height: 40%;
  width: 75%;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.mail-div:hover{
  color: #b8121a;
}


.envelope {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
}

.envelope::before,
.envelope::after {
  position: absolute;
  transition: opacity 0.4s ease, transform 0.4s ease;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.envelope::before {
  content: "\f0e0"; /* Unicode for fa-envelope (closed envelope) */
  opacity: 1;
  transform: scale(1);
}

.envelope::after {
  content: "\f2b6"; /* Unicode for fa-envelope-open (open envelope) */
  opacity: 0;
  transform: scale(0.7);
}

.envelope:hover::before {
  opacity: 0;
  transform: scale(0.7);
}

.envelope:hover::after {
  opacity: 1;
  transform: scale(1);
}

/*===========================================================*/

.footer-item-div a{
  transition: padding  0.3s;
}


.footer-item-div a:hover{
  padding-left: 8px;
}

#no-underline a{
  text-decoration: none;
}

@media screen and (max-width: 1210px){
  .footer-title{
    height: 28% ;
  }
  .footer-item-div{
    height: 280px;
  }
}
.footer-title{
  height: 22%;
  width: 100%;
  color: white;
  font-size: 180%;
  font-weight: 500;
  display: flex;
  justify-content: left;
  text-align: start;
  margin: 0 0 10px 0;
}

.footer-title p{
  margin: 0;
}

/*
.footer-info-title{
  height: 14.4%;
  width: 100%;
  color: whitesmoke;
  font-size: 110%;
  font-weight: 350;
  display: flex;
  justify-content: left;
  text-align: center;
}
*/

@media screen and (max-width: 1024px){
  .footer-main-container{
    display: flex !important;
  }

  .footer-div{
    display: none !important;
  }
}

@media screen and (max-width: 765px){
  .footer-container{
    width: 600px !important;
  }

  .item-title-container{
    font-size: 21px !important;
  }

  .item-content-container{
    font-size: 14px;
  }
}

@media screen and (max-width: 650px){
  .footer-container{
    width: 90% !important;
  }
}


.footer-main-container{
  width: 100%;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1A;
}

.footer-container{
  width: 700px;
  height: auto;
  margin: 50px 0;
  box-sizing: border-box;
}

.item-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.item-title-container{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.item-title-container:hover{
  cursor: pointer;
}

.downChevronFooter{
  font-size: 11px;
}

.item-content-container{
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  overflow: hidden;
}

.item-content-container a{
  text-decoration: none;
}

.item-content-container li{
  margin: 7px 0;
  transition: all 0.25s ease-in-out;
}
.item-content-container li:hover{
  padding-left: 5px;
}

.downChevronFooter{
  transition: all 0.2s ease-in-out;
}
