.main-container-SC{
    width: 100%;
    height: auto;
    margin: 32px 0;
}

.shopping-cart-title{
    width: 1400px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    padding: 0 20px;
    margin: 24px auto;
    color: #131313;
    box-sizing: border-box;
}

.columns{
    width: 1400px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}


@media screen and (max-width: 1500px) {
    .columns{
        width: 100% !important;
        padding: 0 50px !important;
        box-sizing: border-box !important;
    }
    .shopping-cart-title{
        width: 100% !important;
        padding: 0 50px !important;
        box-sizing: border-box !important;
    }
}

@media screen and (max-width: 600px) {
    .columns{
        padding: 0 15px !important;
        box-sizing: border-box !important;
    }
    .shopping-cart-title{
        padding: 0 15px !important;
        box-sizing: border-box !important;
    }
}

.main-content-SC{
    width: 100%;
    height: auto;
}

.summary-title-container{
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 24px;
    border-bottom: 2px solid #d8d8d8;
    padding: 0 0 12px;
    margin: 8px 0;
    color: #131313;
}

.subtotal-container-SC{
    width: 100%;
    height: auto;
    margin: 8px 0;
    padding: 0 0 8px;
    border-bottom: 1px solid #e0e0e0;
}

.subtotal-title{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2px;
    color: #131313;
}

.subtotal-amount{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2px;
    color: #131313;
}

.grandTotal-incl-container{
    width: 100%;
    height: auto;
    margin: 8px 0;
    padding: 24px 0 8px;
    border-bottom: 1px solid #e0e0e0;
}

.grandTotal-incl-title{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 600;
    padding: 0 2px;
    color: #131313;
}

.grandTotal-incl-amount{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding: 0 2px;
    color: #131313;
}

.grandTotal-excl-container{
    width: 100%;
    height: auto;
    margin: 8px 0 48px;
    padding: 8px 0;
}

.grandTotal-excl-title{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    padding: 0 2px;
    color: #131313;
}

.grandTotal-excl-amount{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2px;
    color: #131313;
}

.delivery-tax-main-container{
    width: 100%;
    height: auto;
}

.delivery-tax-info-container{
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-bottom: 1.5px solid #72777e;
}

.estimate-delivery-and-tax-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #374151;
    font-size: 16px;
    font-weight: 500;
}

.main-container-info{
    width: 100%;
    height: auto;
}

.box-info{
    width: 100%;
    height: auto;
    padding: 16px;
    margin: 16px 0;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
}

.deliveryEstimate-title{
    width: 100%;
    height: auto;
    font-size: 16px;
    margin: 4px 0 0;
    color: #374151;
    font-weight: 400;
}

.city-container{
    width: 100%;
    height: auto;
    margin: 15px 0 8px;
    color: #131313;
}

.select-cities {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    color: #72777e;
}

.select-cities::-webkit-scrollbar {
    display: none;
}

.select-cities option{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #374151;
}


.governorate-container{
    width: 100%;
    height: auto;
    margin: 15px 0 8px;
    color: #131313;
}

.select-governorates{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    color: #72777e;
}

.select-governorates::-webkit-scrollbar {
    display: none;
}

.select-governorates option{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #374151;
}


.district-container{
    width: 100%;
    height: auto;
    margin: 15px 0 8px;
    color: #131313;
}

.select-districts{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    color: #72777e;
}

.select-districts::-webkit-scrollbar {
    display: none;
}

.select-districts option{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #374151;
}

.receive-product-method-container{
    width: 100%;
    height: auto;
    margin: 20px 0 0;
}


/*===================================================*/
.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox .checkmark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background-color 0.2s ease;
  }
  
  .checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #b8121a;
    border-color: #b8121a;
  }
  
  .checkbox input[type="checkbox"]:checked + .checkmark:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.2s ease;
    transform: scale(1);
  }
  
  .checkbox .checkmark:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    transform: scale(0);
    transition: transform 0.2s ease;
  }
  /***********************************************************/


.Delivery-container{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    color: #131313;
}
.delivery-txt{
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
}

.delivery-check-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery-check{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-check-amount{
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    color: #131313;
}


.pickUp-container{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    color: #131313;
}
.pickUp-txt{
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
}

.pickUp-check-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pickUp-check{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pickUp-check-amount{
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    color: #131313;
}

.checkout-button{
    width: 100%;
    height: auto;
    padding: 12px;
    text-align: center;
    border: 2.5px solid #000;
    background-color: #b8121a;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.checkout-button:hover{
    background-color: #1A1A1A;
}
