.list-main-div{
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
}

.list-div-pages{
    height: 60%;
    width: 80%;
    padding: 10px 24px;
    margin: 0px 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list-div-pages p{
    font-size: 14px;
    color: #000;
}

.list-div-pages a{
    text-decoration: none;
    color: #000;
}

.main-div{
    width: 100%;
    height: auto;
    padding: 0% 7%;
    margin-bottom: 250px;
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .main-div{
    padding: 0 3%;
  }
}

.shop-by-tools-type-container-main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.shop-by-tools-type-container-txt{
    height: auto;
    width: 100%;
    margin: 15px 0px 4px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}

.shop-by-tools-type-container-info{
    height: auto; 
    width: 96%; 
    padding: 10px;
}

.shop-by-tools-type-container-info p{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.tool-type-main-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 40px;
}

.tool-type-item-div{
    height: 214px;
    width: 180px;
    border: 1px solid black;
    /* margin: 0px 25px 25px 0px; */
    margin: 12.5px;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.tool-type-item-div:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transform: scale(1.03);
}

.tool-type-item-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.tool-type-item-name{
    height: 30px;
    width: 176px;
    background-color: #b8121a;
    padding: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-type-item-name p{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.shop-items-main-container{
    width: 85%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*FILTER CSS STYLE==============================================================*/
.filter-container{
    width: 23%;
    height: auto;
}

.filter-title{
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: #1f2937
}

.filter-main-block-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 10px 0px;
}

.filter-block-container{
    width: 100%;
    height: auto;
    margin: 16px 0 0 0;
    padding: 16px 16px 10px 16px;
    border: 1px solid rgb(104, 101, 101);
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: white;
}

.filter-options-title-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.chevron-down-filter{
    border: 0.8px solid lightgray;
    border-radius: 4px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category-down-chevron{
    transition: transform 0.2s ease-in-out;
    padding: 0;
    margin: 0;
}
#sales-down-chevron{
  transition: transform 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
#price-down-chevron{
  transition: transform 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
#brand-down-chevron{
  transition: transform 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
#productType-down-chevron{
  transition: transform 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
#toolSubType-down-chevron{
  transition: transform 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
#toolType-down-chevron{
  transition: transform 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}

.filter-options-content-container{
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    overflow: hidden;
}
/* .filter-options-content-container {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  overflow: hidden; // Ensure content doesn't overflow during transition 
  transition: height 0.3s ease, padding 0.3s ease; // Add transition for height and padding 
} */


.filter-options-content-container > li{
    padding: 5px 0;
}

#Category{
    visibility: hidden;
}

#OnSales{
    visibility: hidden;
}

#price{
    visibility: hidden;
}

#brand{
    visibility: hidden;
}

.filter-options-content-container  a{
    color: rgb(53, 53, 53);
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.filter-options-content-container  a:hover {
    color: #b8121a;
}


.search-brand-filter{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.search-brand-filter-input{
    width: 100%;
    height: 35px;
    outline: none;
    font-size: 12px;
    color: rgb(53, 53, 53);
    transition: border-color 0.2s ease, transform 0.2s ease;
}

.search-brand-filter-input:focus{
    border: 1.2px solid #b8121a;
    outline: none;
    transform: scale(1.005);
}

.brand-li-container{
    width: 100%;
    height: auto;
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*CHECK BOX*/
.checkbox-wrapper-4 * {
    box-sizing: border-box;
  }
  .checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    /* padding: 6px 8px;
    border-radius: 6px; */
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
  }
  .checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
  }
  /* .checkbox-wrapper-4 .cbx:hover {
    background: rgba(0,119,255,0.06);
  } */
  .checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  .checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  /* .checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #b8121a;
  } */
  .checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
  }
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: #b8121a;
    border-color:#b8121a;
    animation: wave-4 0.4s ease;
  }
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  @media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

/*+++++++++++++++*/


/*PRODUCT CSS STYLE==============================================================*/
.items-container{
    width: 74%;
    height: auto;
}

.title-main-container{
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.style.show.product{
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-i{
  color: lightgray;
  font-size: 26px;
  transition: color 0.3s ease-in-out;
}

.style-i:hover{
  color: #b8121a;
}

.style-sort-product{
  width: auto;
  height: auto;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items: center;
}

.style-sort-product span{
  font-size: 14px;
  font-weight: 600;
  color: #b8121a;
}

.select-sorting-product{
  width: 160px;
  height: 35px;
  padding: 4px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: rgb(100, 100, 100);
  transition: border 0.3s ease-in-out transform 0.3s ease-in-out;
}

.select-sorting-product:focus{
  border: 2px solid #b8121a;
  transform: scale(1.01);
}

.grid-main-container{
  display: grid;
  grid-row: auto;
  /* grid-template-columns: auto auto auto ; */
  grid-template-columns: repeat(3, 1fr); /* Always 3 columns */
  gap: 25px;
}

.grid-product-container{
  width: 100%;
  aspect-ratio: 1 / 1.4; 
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
}


@media (max-width: 1100px) {
  .grid-item {
    aspect-ratio: 1 / 1.4; /* Adjust ratio if needed */
  }
  .grid-main-container{
    grid-template-columns: repeat(2, 1fr); /* become 2 columns */

  }
}
@media (max-width: 880px) {
  .shop-items-main-container{
    flex-direction: column;
    align-items: center;
  }

  .filter-container{
    width: 100%;
  }
}

@media (max-width: 780px) {
  .grid-main-container{
    grid-template-columns: repeat(1, 1fr); /* become 1 columns */
  }
}


.product-image-holder{
  height: 45%;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 1px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.product-image-holder img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  /* object-fit: contain; */
}


.product-title-container{
  width: 100%;
  height: 22%;
  padding: 15px;
  /* font-size: 1vw; */
  font-size: 95%;
  font-weight: 500;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.sku-title-container{
  height: 8%;
  width: 100%;
  padding: 8px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 70%;
  color: #b8121a;
}

.price-title-container{
  width: 100%;
  height: auto;
  padding: 3px 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* font-size: 1.25vw; */
  font-size: 125%;
  font-weight: 600;
  margin-bottom: 10px;
}

.addToCart-button-container{
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addToCart-button{
  border: 2px solid black;
  height: 33px;
  width: 150px;
  color: white;
  background-color: #b8121a;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in  0.15s;
  /* font-size: 0.6vw; */
  font-size: 60%;
  font-weight: bold;
}

.addToCart-button:hover{
  background-color: #1A1A1A;
}
