a{
  color: white;
}




/*.div-nav ul{
  list-style: none;
  display: flex;
  transition: ease 0.7s;
}

.div-nav ul li{
  padding: 10px 30px;
  position: relative;
}

.div-nav ul li a{
  text-decoration: none;
  font-size: 21px;
  color: white;
}


.div-nav li:hover{
  i{
  rotate: 180deg;
  }
}

.dropdown-menu{
  display: none;
}

.dropdown-menu{
  color: black;
}
.dropdown-menu a:hover{
  color: #b8121a;
  text-decoration: underline;
}
.dropdown-menu p:hover{
  color: #b8121a;
}
.dropdown-menu ul li p:hover{
  color: #b8121a;
}


.div-nav ul li:hover .dropdown-menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.div-nav ul li:hover .dropdown-menu ul{
  display: block;
  margin: 10px;
}

.div-nav ul li:hover .dropdown-menu ul li{
  width: 150px;
  padding: 10px;
}
*/
/* .nav-bar{
  height: 60px;
  background-color: #b8121a;
  margin: 0;
  display: flex;
  justify-content: center;
}

.div-nav{
  height: 60px;
  width: 70%;
  background-color: #1A1A1A;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 21px;
}




.ul {
  text-align: center;
}
.ul li {
  display: inline-block;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}
.ul li:hover .submenu {
  height: 200px;
}
.ul li:hover i {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out 0.1s; 
}
.ul li:hover a {
  color: #b8121a;
}
.ul li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
.ul li .submenu {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  height: 0;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2; 
  display: flex;
  justify-content: center;
}


.ul li .submenu a {
  color: black;
  margin-top: 20px;
  font-size: 80%;
  font-weight: 400;
}
.ul li .submenu a:hover {
  color: black;
  text-decoration: underline;
}
.ul li a {
  color: white;
  display: block;
  padding: 0 7px;
  margin: 0 0 10px;
  text-decoration: none;
  position: relative;
}
.ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}

i {
  transition: transform 0.3s ease-in-out; 
} */




.marketing{
  width: 100%;
  height: auto;
  justify-content: center; 
  display: flex;
}

.sub-marketing{
  height: auto;
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  flex-wrap: wrap;
}

@media screen and (max-width:1400px) {
    .sub-marketing{
      width: 95% !important;
      height: auto !important;
    }
}
.kevin{
  object-fit: cover;
  width: 450px;
  height: auto;
  margin: 20px;
}
.kevin img{
  width: 100%;
  height: 100%;
}


.slick-container2 {
  background-color: whitesmoke;
  /* margin-top: 50px; */
  width: 800px; /* Full width */
  height: 400px; /* Fixed height */
  overflow: hidden; /* Prevent overflow */
  margin: 20px;
}

.slick-container2 img {
  z-index: 100;
  width: 500px; /* Responsive width */
  height: 425px; /* Fixed height */
}

.image-slider1 {
  width: 100%; /* Full width */
  height: 100%; /* Set slider height to 100% of the container */
}

.image-slider1 div {
  width: 100%; /* Full width */
  height: 100%; /* Each slide should take full height */
}

.image-slider1 img {
  width: 100%; /* Responsive width */
  height: 100%; /* Fill height */
/*   padding: 10px;
  box-sizing: border-box; */
  object-fit: cover; /* Maintain aspect ratio */
}

@media screen and (max-width: 600px) {
  .slick-container2{
    width: 100% !important;
    margin: 0 !important;
  }
  .slick-container2 img{
    width: 100% !important;
  }
  .sub-marketing{
    width: 100% !important;
  }

}


/*.free-delivery{
  height: 130px;
  background-color: black;
  width: 100%;
  background-image: url(free\ delivery.png);
}*/

.free-delivery-div{
  width: 100%; 
  height: auto; 
  background-color: #1A1A1A; 
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}


.parallelogram{
  width: 600px;
  height: 130px;
  background-color: #b8121a;
  transform: skew(30deg);
  display: flex;
  justify-content: center;
  align-items: center ;
}

.free-delivery{
  height: auto;
  width: 74%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

@media (max-width: 1500px){
  .free-delivery{
    width: 100%;
  }
}

@media (max-width: 1000px){
  .parallelogram{
    width: 500px;
  }
  .text-parallelogram{
    width: 500px;
  }
}

@media (max-width: 870px){
  .free-delivery{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  .parallelogram{
    width: 86%;
  }

  .pre-parallelogram{
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
  }

  .space-between-hr{
    height: 10px !important;
  }

  .post-parallelogram{
    width: 100% !important;
    height: auto !important;
    margin-top: 5px;
  }
}

@media screen and (max-width: 610px) {
  .text-parallelogram p{
    font-size: 180% !important;
  }
}
@media screen and (max-width: 500px) {
  .text-parallelogram p{
    font-size: 140% !important;
  }
}

.text-parallelogram{
  transform: skew(-30deg);
  height: 130px;
  width: 600px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.text-parallelogram p{
  font-weight: 750; 
  font-size: 215%; 
  text-align: center; 
  line-height: 1.4;
  margin: 0;
}

.pre-parallelogram{
  height: 130px;
  width: 25%;
}


.space-between-hr{
  height: 40%; 
  width: 100%;
}

.post-parallelogram{
  height: 130px;
  width: 25%;
}

    
/*
.pre-parallelogram, .post-parallelogram {
  height: 130px;
  width: 350px;
  display: flex; 
  flex-direction: column; 
}
  
.pre-parallelogram {
  justify-content: flex-start; 
  align-items: flex-start; 
}
  
.post-parallelogram {
  justify-content: flex-start; 
  align-items: flex-end; 
} 
*/
  

.hr{
  border: none; 
  height: 5px; 
  width: 95%;
  border-radius: 2px;
  position: relative;
  background-color: white;
}

.preferred-brand-background{
  background-color: #1A1A1A;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  background-color: #222021;*/
}


.preferred-brand-txt{
  color: white;
  height: 20%;
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 200%; 
  font-weight: 550; 
  text-decoration: underline;
  text-underline-offset: 8px;
  align-items: center;
  margin: 40px .0;
}

.preferred-brand-txt p{
  margin: 0;
}

.sub-preferred-brand{
  height: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preferred-brand{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.preferred-brand-img{
  height: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.more-preferred-brand{
  height: 19%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px 0;
}


.see-more-preferred-brand{
  border: 2px solid black;
  height: 42px;
  width: 130px;
  color: white;
  background-color: #b8121a;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in  0.15s;
  font-size: 80%;
  font-weight: bold;
}

.see-more-preferred-brand:hover{
  background-color: #1A1A1A;
}

.new-arrivals-div{
  height: 600px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 950px) {
  .new-arrivals-border{
    width: 90% !important;
  }
}

.new-arrivals-border{
  height: 500px;
  width: 75%;
}

.new-arrivals-txt-chevron{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals-txt{
  height: 100%;
  width: 200px;
  font-size: 200%;
  font-weight: 650; 
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.new-arrivals-chevron{
  height: 60%;
  width: 80px;
  display: flex;
  justify-content: center;
}

.new-arrivals-chevron-right,
.new-arrivals-chevron-left{
  height: 100%;
  width: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  cursor: pointer;
}


.new-arrivals-all-items-border{
  height: 84%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}

.new-arrivals-items-wrapper {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  justify-content: flex-start;
  width: 100%;
  align-content: normal;
}
@media screen and (max-width: 900px) {
  .new-arrivals-items-wrapper{
    overflow-x: auto;
  }
}

.new-arrivals-items-border{
  height: 378px; 
  width: 315px;
  border: 1px solid black;
  border-radius: 2%;
  margin-right: 20px;
} 

@media screen and (max-width: 700px) {
  .new-arrivals-items-border{
    width: 290px !important;
    height: 358px !important;
  }
}

@media screen and (max-width: 500px) {
  .new-arrivals-items-border{
    width: 275px !important;
    height: 343px !important;
  }
}

.new-arrivals-items-image{
  height: 50%;
  width: 100%;
  border-bottom: 1px solid rgb(167, 166, 166);
  border-top-left-radius: 2;
  border-top-right-radius: 2%;
  object-fit: scale-down;
}


.new-arrivals-items-description{
  height: 49%;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

.new-arrivals-items-free-delivery{
  height: 25%;
  width: 53%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.new-arrivals-items-free-delivery-txt{
  height: 55%;
  width: 60%;
  border: 1px solid black ;
  background-color: black;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-delivery-txt{
  font-size: 64%;
  font-weight: 700;
}

.new-arrivals-items-info{
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.item-info-style{
  font-size: 90%;
  font-weight: 700;
}

.item-info{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}
/*
.new-arrivals-all-items-info:hover .item-info{
  white-space: normal;
  overflow: visible;
}
  */

.item-SKU{
  height: 11%;
  width: 60%;
  color: #b8121a;
  display: flex;
  justify-content: left;
  align-items: center;
}
 
.SKU-style{
  font-size: 72%;
}

.item-price{
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.item-price-style{
  font-size: 130%;
  font-weight: 700;
}

.border-add-to-cart-button{
  height: 32%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button{
  border: 2px solid black;
  height: 33px;
  width: 150px;
  color: white;
  background-color: #b8121a;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in  0.15s;
  font-size: 65%;
  font-weight: bold;
}

.add-to-cart-button:hover{
  background-color: #1A1A1A;
}


.free-same-day-div{
  height: auto;
  width: 100%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.adj--width{
  height: auto;
  width: 75%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.second-parallelogram{
  height: 110px;
  width: 620px;
  background-color: #b8121a;
  transform: skew(30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1500px){
  .adj--width{
    width: 100%;
  }
}

@media (max-width: 1000px){
  .second-parallelogram{
    width: 500px;
  }
  .second-parallelogram-txt{
    width: 500px;
  }
}

@media (max-width: 870px){
  .adj--width{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  .second-parallelogram{
    width: 80%;
  }

  .second-pre-parallelogram{
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
  }

  .second-space-between-hr{
    height: 10px !important;
  }

  .second-post-parallelogram{
    width: 100% !important;
    height: auto !important;
    margin-top: 5px;
  }
}

@media screen and (max-width: 610px) {
  .second-parallelogram-txt{
    font-size: 180% !important;
  }
}
@media screen and (max-width: 500px) {
  .second-parallelogram-txt{
    font-size: 140% !important;
  }
}


.second-parallelogram-txt{
  transform: skew(-30deg);
  height: 100%;
  width: 100%;
  color: white;
  font-size: 220%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second-pre-parallelogram{
  height: 110px;
  width: 25%;
}

.second-post-parallelogram{
  height: 110px;
  width: 25%;
}

.second-space-between-hr{
  height: 40%;
  width: 100%;
}


.brand-spotlights-div{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

@media screen and (max-width: 500px){
  .brand-spotlights-adj-width{
    width: 100% !important;
  }
  .brand-spotlights-txt{
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .brand-spotlights-txt p{
    margin-bottom: 15px;
    margin-top: 30px;
  }
}

.brand-spotlights-adj-width{
  height: 100%;
  width: 75%;
}

.brand-spotlights-txt{
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 230%;
  font-weight: 600;
}

.brand-spotlights-post-div{
  height: auto;
  width: 100%;
  margin: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-spotlights-post-div2{
  height: auto;
  width: 100%;
  background-color: #1A1A1A;
  padding: 23px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.brand-content-div{
  height: auto;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.brand-content-img-div{
  height: 90%;
  width: 90%;
}

.brand-content-item-div{
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px;
}



/*========================================================================================================================================================================*/


.brand-spotlights-items-border{
  height: 320px;
  width: 240px;
  border-radius: 2%;
  margin: 10px;
  background-color: white;
}

.brand-spotlights-items-image{
  height: 50%;
  width: 100%;
  border-bottom: 1px solid rgb(167, 166, 166);
  border-top-left-radius: 2;
  border-top-right-radius: 2%;
  object-fit: cover;
}


.brand-spotlights-items-description{
  height: 49%;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

.brand-spotlights-items-free-delivery{
  height: 25%;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.brand-spotlights-items-free-delivery-txt{
  height: 55%;
  width: 60%;
  border: 1px solid black ;
  background-color: black;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-delivery-txt2{
  font-size: 54%;
  font-weight: 600;
}

.brand-spotlights-items-info{
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.item-info-style{
  font-size: 90%;
  font-weight: 700;
}

.item-info{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}

.item-SKU{
  height: 11%;
  width: 60%;
  color: #b8121a;
  display: flex;
  justify-content: left;
  align-items: center;
}
 
.SKU-style{
  font-size: 72%;
}

.item-price{
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.item-price-style{
  font-size: 130%;
  font-weight: 700;
}

.border-add-to-cart-button{
  height: 32%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button{
  border: 2px solid black;
  height: 33px;
  width: 150px;
  color: white;
  background-color: #b8121a;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in  0.15s;
  font-size: 65%;
  font-weight: bold;
}

.add-to-cart-button:hover{
  background-color: #1A1A1A;
}

.customer-info-main-div{
  height: auto;
  width: 100%;
  background-color: #b8121a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-info-inner-div{
  height: auto;
  width: 68.5%;
  display: flex;
  margin: 70px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 800px){
  .customer-info-inner-div{
    width: 100%;
  }
}


.customer-info-div{
  height: 270px;
  width: 270px;
  border-radius: 10px;
  background-color:  #1A1A1A;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-info-div:hover .customer-info-icon{
  background-color: black;
}
.customer-info-div:hover{
  background-color: white;
}
.customer-info-div:hover .customer-info-name{
  color: black;
}
.customer-info-div:hover .customer-info-description{
  color: black;
}

.customer-info-inner-inner-div{
  height: 85%;
  width: 72%;
}

.customer-info-icon-div{
  height: 32%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-info-icon{
  height: 100%;
  width: 38%;
  border-radius: 40px;
  background-color: #b8121a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-info-name-div{
  height: 32%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-info-name{
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 120%;
  font-weight: 500;
}
.customer-info-description-div{
  height: 32%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-info-description{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 84%;
  font-weight: 400;
  text-align: center;
}

.about-GMK-div{
  height: auto;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .about-GMK-adj-width{
    width: 95% !important;
  }
  .about_GMK-txt p{
    line-height: 10px;
    font-size: 15px;
  }

  .about-GMK-title p{
    margin: 0;
    margin-top: 30px;
  }
}

.about-GMK-adj-width{
  height: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-GMK-img-div{
  height: 100%;
  width: 520px;
  margin: 0 10px;
  object-fit: cover;
}

.about-GMK-txt-div{
  height: auto;
  width: 730px;
  margin: 0 10px;
}

.about-GMK-title{
  height: 20%;
  width: 100%;
  font-size: 180%;
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
}

.about_GMK-txt{
  height: 80%;
  width: 100%;
  font-size: 110%;
  display: flex;
  justify-content: left;
  text-align: left;
}

